.info-panel {
	position: relative;
	background-color: lightblue;
	border-radius: 15px;
	padding: 0px 5px 0 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
#announcement-post-panel {
	text-align: center;
}

#post-announcement-button {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -50px;	
}

#subject-field {
	width: 250px;	
}

#stats-panel {
	height: 140px;
	width: 350px;
}

.list-heading {
	position: relative;
	text-align: center;	
	margin-bottom: 8px;
}

#body-area *{
	vertical-align: top;
}

#body-field {
	height: 100px;
	width: 400px;
}

.bottom-line {
	border-bottom: 1px solid #25383C;	
}
.announcement-li {
	padding-bottom: 15px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.stats-li {
	margin-bottom: 20px;	
}