.info-panel {
	position: relative;
	background-color: #F0F0F0;
	border: 3px solid #2F4F4F;
	border-radius: 15px;
	padding: 0px 5px 0 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#stats-panel {
	height: 150px;
	width: 350px;
}

.list-heading {
	position: relative;
	text-align: center;
	top: -18px;	
	margin-bottom: -8px;
}

#body-area *{
	vertical-align: top;
}

#body-field {
	height: 100px;
	width: 400px;
}

.bottom-line {
	border-bottom: 1px solid black;	
}
.announcement-li {
	padding-bottom: 5px;
}