@CHARSET "UTF-8";
.line {
	width: 48%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
}
.plus-circle {
	width: 20px;
	height: 20px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 50%;
	left: 50%;
	margin-left: -11px;
	margin-top: -10px;
	position: absolute;
	cursor: pointer;
}
.transition-medium {
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
	transition:0.5s;
}
.divider-li {
	position: relative;
}
.plus-circle:hover {
	background-color: rgba(124, 187, 149, 0.5);
}
.plus {
	position: absolute;
	left: 4px;
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}

.question-section {
	padding: 20px 0px;
}

.prompt-input {
	width: 300px;
	text-align: center;
}