#history-table,
#history-table * {
	border:none;
}

#history-table {
	margin-top: 20px;
	width: 600px;	
	border-radius: 5px;
	padding-bottom: 50px;
}

td {
	padding: 3px 5px 0 5px;	
	border-radius: 2px;
	margin-bottom: 10px;
}

tr:nth-child(odd)	{ 
	background-color:#EEEFF4; 
}

tr:nth-child(even)	{
    background-color:#fff; 
}

th.sort-by {
	border-radius: 2px;
	background-color: #3B5999;
	color: white;
	height: 40px;
}
