#history-table {
	margin-top: 20px;
	width: 600px;	
}

td {
	padding: 3px 5px 0 5px;	
}

tr:nth-child(odd)	{ 
	background-color:#AAD4FF; 
}

tr:nth-child(even)	{
    background-color:#fff; 
}

th {
	background-color: #3B5998;
	color: white;	
}