#history-link-span {
	margin-top: 20px;
}

#right-content-panel {
	right: 0;
	border-radius: 15px;
	padding: 15px 10px 12px;
	font-size: 12px;
	opacity:0.80;
	filter:Alpha(opacity=080); /* IE8 and earlier */
}

#right-content-panel li:not(:first-child) {
	border-top: 1px solid rgb(230,230,230);
}

#right-content-panel li {
	padding: 2px 9px;
}

.home-content-box{
  margin-right: 40px;
  margin-top: 10px;
  padding: 10px 25px; 
}

h1,h2,h3,h4,h5,h6 {
	font-weight: lighter;
}
