@CHARSET "UTF-8";
a {
	text-decoration: none;
}

.score-container {
	width: 24%;
	display: inline-block;
	background-color: lightblue;
	vertical-align: top;
}


	#score-holder {
		padding: 20px 0px;
	}