@CHARSET "UTF-8";
.game-button > a {
	border:2px solid rgb(109, 153, 172);
	border-radius: 5px;
	padding: 10px;
	background-color: rgba(109, 153, 172,0.8);
	color: white;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	-ms-transition:0.3s;
	transition:0.3s;
}

.game-button > a:hover {
	background-color: rgba(109, 153, 172,0.6);
}

.game-button.red > a {
	border:2px solid rgb(189, 101, 80);
	background-color: rgba(189, 101, 80, 0.8);
}

.game-button.red > a:hover {
	background-color: rgba(189, 101, 80, 0.6);
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
}

.score-container {
	width: 24%;
	display: inline-block;
	background-color: lightblue;
	vertical-align: top;
}


	#score-holder {
		padding: 20px 0px;
	}