@CHARSET "UTF-8";
a {
	text-decoration: none;
}

.score-container {
	width: 22%;
	padding: 1%;
	display: inline-block;
	background-color: lightblue;
	vertical-align: top;
	border-radius: 6px;
}

	.score-container > ul > li:not(:first-child) {
		font-size: 12px;
		text-align: center;
		padding: 3px 2px;
	}


	#score-holder {
		padding: 20px 0px;
	}

.best-of-header {
	font-weight: lighter;
	text-align: center;
	padding: 3px;
	margin: 0;
}