.masthead {
	height: 294px;
	box-shadow: 0px 0px 100px rgba(0,0,0,0.4) inset;
	position: relative;
}

#masthead-friends-div {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

	#masthead-friends-div > span {
		width: 98px;
		height: 98px;
		background-size: 30px;
		display: inline-block;
	}

		#masthead-friends-div > span > a {
			display: inline-block;
			background-size: cover;
			opacity:0.50;
			filter:Alpha(opacity=050); /* IE8 and earlier */
			-webkit-filter: blur(1px);
		    -moz-filter: blur(1px);
		    -o-filter: blur(1px);
		    -ms-filter: blur(1px);
		    filter: blur(1px);
		    -webkit-transition:0.9s;
		    -moz-transition:0.9s;
		    -o-transition:0.9s;
		    -ms-transition:0.9s;
		    transition:0.9s;
		}
		#masthead-friends-div > span > a:hover {
			-webkit-filter: blur(0px);
		    -moz-filter: blur(0px);
		    -o-filter: blur(0px);
		    -ms-filter: blur(0px);
		    filter: blur(0px);
		    opacity:0.90;
		    filter:Alpha(opacity=090); /* IE8 and earlier */
		}

		#masthead-friends-div > span > a:hover +
		#masthead-friends-div > span > a,
		#masthead-friends-div > span > a +
		#masthead-friends-div > span > a:hover {
			opacity:0.70;
			filter:Alpha(opacity=070); /* IE8 and earlier */
		}

#user-photo-pad {
	position: absolute;
	bottom: -65px;
	left: 10px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: white;
	padding: 6px;
}

	#user-photo {
		position: absolute;
		top: 6px;
		left: 6px;
		height: 150px;
		width: 150px;
		border-radius: 50%;
		background-image: url('http://0.tqn.com/d/menshair/1/0/l/5/-/-/round-wood.jpg');
		background-size: cover;
	}

#buttons {
	padding: 10px 0px;
}

	#buttons > .button {
		margin: 4px;
	}

#user-summary {
	position: absolute;
	top: 405px;
	left: 70px;
}

.center-box {
	background-color: lightblue;
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
}
#recent-results {
	width: 465px;	
}

#created-quizzes {
	float: right;
	text-align: center;
	width: 290px;
}

#achievements {
	margin-top: 20px;
	width: 615px;
	position: relative;	
}
#user-summary > li {
	display: block;
}

#name {
	margin-bottom: 4.5px;
	margin-top: 1px;	
}

.div-header {
	position: relative;
	margin-top: 0;
	margin-bottom: 5px;
	text-align: center;
	font-size: 18px;
	color: #4F4F4F;
}

.bottom-center-block {
	top: 30px;
	left: 160px;
	margin-right: 50px;
	width: 800px;
	height: 300px;
	position: relative;
}